{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div class="mymargin">
            <br>
            <h3>관리자 설정</h3><br>

            <label><strong>문   제</strong></label>
            <input class="setting-form" placeholder="문제이름" style="width: 200px;">

            <label><strong>공개일</strong></label>
            <input class="setting-form" placeholder="YYYY-MM-DD" style="width: 200px;">

            <label><strong>시작일</strong></label>
            <input class="setting-form" placeholder="YYYY-MM-DD" style="width: 200px;">

            <label><strong>종료일</strong></label>
            <input class="setting-form" placeholder="YYYY-MM-DD" style="width: 200px;">

            <button type="submit" class="btn btn-sm btn-default">추가</button>
            <br><br>
        </div>
        <!-- /.container-fluid -->

            <!-- Example Tables Card -->
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>선택</th>                                                 
                                    <th>문제이름</th>
                                    <th>공개일</th>
                                    <th>시작일</th>
                                    <th>종료일</th>                                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" value=""></td>
                                    <td>문제1</td>
                                    <td>2017-08-01</td>
                                    <td>2017-08-01</td>
                                    <td>2017-08-10</td>                                    
                                </tr>
                                <tr>
                                    <td><input type="checkbox" value=""></td>                                
                                    <td>문제2</td>
                                    <td>2017-08-03</td>
                                    <td>2017-08-03</td>
                                    <td>2017-08-07</td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br><br><br><br><br>
        </div>
<br><br><br><br><br><br>
    </div>
{% endblock -%}
