{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">
        <div id="subNav">

            <a href="{{ url_for('codeMarble_Web.problem', problemIndex=problemIndex) }}" style="margin-left: 20px">{{ problemName }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('codeMarble_Web.myCodeInProblem', problemIndex=problemIndex) }}">내 코드({{ problemName }})</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('codeMarble_Web.codeListInProblem', problemIndex=problemIndex) }}"><strong>제출한 사람({{ problemName }})</strong></a>
        </div>

            <!-- Example Tables Card -->
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>번호</th> <th>닉네임</th> <th>점수</th> <th>코드확인</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(codeList|length) %}
                                    <tr>
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ codeList[i].nickName }}</a></td>
                                        <td>{{ codeList[i].score }}, {{ codeList[i].least }}</td>
                                        <td>{%- if codeList[i].isOpen %} <a href="{{ url_for('codeMarble_Web.viewCode', codeIndex=codeList[i].leastIndex) }}">확인</a>{% endif -%}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br><br><br><br><br>
        </div>
        <!-- /.container-fluid -->
{% endblock -%}