{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div id="subNav">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/replay/myList">코드 내가푼문제만</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/replay/allList">전체회원</a>
        </div>

        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;리플레이<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- /.container-fluid -->

    </div>
{% endblock -%}
