{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div id="subNav">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/problem"><strong>문제가가가가가</strong></a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/submit/submit">코드 제출</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/problem/solvingUsers">이 문제를 푼 사람</a>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <form role="form">
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;문제보기pdf
                </form>

            </div>
            <div class="col-lg-6">
                <form role="form">
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;코드제출
                </form>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock -%}