{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

            <!-- Example Tables Card -->
        <h2 style="margin-left: 20px">문제</h2>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>문제이름</th> <th>난이도</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for problemData in problemList %}
                            <tr>
                                <td><a href="{{ url_for('codeMarble_Web.problem', problemIndex=problemData.problemIndex) }}">{{ problemData.problemName }}</a></td>
                                <td>{% for i in range(problemData.level) %}★{% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
    <!-- /.container-fluid -->
{% endblock -%}