<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>CodeMarble</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this templates -->
    <link href="../static/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../static/bootstrap/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this templates -->
    <link href="../static/bootstrap/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">CodeMarble</a>
        <div class="collapse navbar-collapse" id="navbarExample">

            <ul class="sidebar-nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fa fa-fw fa-info"></i> About</a>
                </li>            
                <li class="nav-item active">
                    <a class="nav-link" href="/problem"><i class="fa fa-fw fa-list-ul"></i> 문제</a>
                </li>                           
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"><i class="fa fa-fw fa-recycle"></i> 리플레이
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>
                    </a>
                    <ul class="sidebar-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/replay/myList">내가푼문제만</a>
                        </li>
                        <li>
                            <a href="/replay/allList">전체회원</a>
                        </li>
                        <li>
                            <a href="#">..</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/setting"><i class="fa fa-fw fa-cog"></i> Setting</a>
                </li>                
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="전체 검색">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-fw fa-sign-out"></i> 로그아웃</a>
                </li>
            </ul>   
        </div>
    </nav>

    <div class="content-wrapper py-3">

            <!-- Example Tables Card -->
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>문제이름</th>
                                    <th>난이도</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/gagagaga">가가가가</a></td>
                                    <td>★★★</td>
                                </tr>
                                <tr>
                                    <td>나나나</td>
                                    <td>★</td>
                                </tr>
                                <tr>
                                    <td>다다다다다다다다다</td>
                                    <td>★★</td>
                                </tr>
                                <tr>
                                    <td>라라라라라라</td>
                                    <td>★★★</td>
                                </tr>
                                <tr>
                                    <td>마마마마마마마</td>
                                    <td>★★★★</td>
                                </tr>
                                <tr>
                                    <td>바바바바</td>
                                    <td>★★★★</td>
                                </tr>
                                <tr>
                                    <td>사사</td>
                                    <td>★★★</td>
                                </tr>
                                <tr>
                                    <td>아아아아아</td>
                                    <td>★★</td>
                                </tr>
                                <tr>
                                    <td>자자자자자자자자자</td>
                                    <td>★★</td>
                                </tr>
                                <tr>
                                    <td>차차차</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>카카카카카카카</td>
                                    <td>★</td>
                                </tr>
                                <tr>
                                    <td>타타타타타타타타</td>
                                    <td>★★</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br><br><br><br><br>
        </div>
        <!-- /.container-fluid -->


    <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/vendor/tether/tether.min.js"></script>
    <script src="../static/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/bootstrap/vendor/chart.js/Chart.min.js"></script>
    <script src="../static/bootstrap/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../static/bootstrap/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for this templates -->
    <script src="../static/bootstrap/js/sb-admin.min.js"></script>

</body>

</html>
