{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <br><br><br>
        <div class="loginForm">
            <form method="post" name="login_form" action="/login">
               <div class="box">
                아이디
                <input type="text" class="iText" name="userId" id="userId">
                <br>
                비밀번호<input type="password" name="password" id="password" class="iText">
                <br>
                <p>
                  <span class="fleft"><input type="checkbox" id="" name=""><label for=""> 아이디 저장&nbsp;</label></span>
                  <span class="fright">
                    <a href="/">회원가입</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="/">아이디 찾기</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="/">비밀번호 찾기</a>
                  </span>
                </p>
              </div>
              <button type="submit" class="loginBtn">로그인</button>
            </form>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <!-- /.container-fluid -->

    </div>
{% endblock -%}