{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div id="subNav">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/replay/myList">내가푼문제만</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/replay/allList"><strong>전체회원</strong></a>
        </div>

                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>문제이름</th>
                                    <th>대전상대1</th>                                    
                                    <th>대전상대2</th>
                                    <th>리플레이</th>
                                    <th>기록</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>나나나나나나나</td>
                                    <td>황석진</td>
                                    <td>류동기</td>                                    
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="location.href='/directreplay.html'">리플레이</a></button></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>마마마마마</td>
                                    <td>류동기</td>
                                    <td>정지은</td>                                    
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="location.href='/directreplay.html'">리플레이</a></button></td>
                                    <td></td>
                                </tr> 
                                <tr>
                                    <td>가가가가가가</td>
                                    <td>남규현</td>
                                    <td>정지은</td>                                    
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="location.href='/directreplay.html'">리플레이</a></button></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>라라라라라라</td>
                                    <td>남규현</td>
                                    <td>황석진</td>                                    
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="location.href='/directreplay.html'">리플레이</a></button></td>
                                    <td></td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
        <!-- /.container-fluid -->

    </div>
{% endblock -%}