{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">
        <div id="subNav">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('codeMarble_Web.replayMyList', isChallenge=1) }}">
                {%- if isChallenge %}<strong>도전한 문제</strong>{%- else %}도전한 문제{% endif -%}
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('codeMarble_Web.replayMyList', isChallenge=0) }}">
                {%- if not isChallenge %}<strong>도전받은 문제</strong>{%- else %}도전받은 문제{% endif -%}
            </a>
        </div>


            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>문제이름</th>
                                <th>대전상대</th>
                                <th>리플레이</th>
                                <th>기록</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in userReplayData %}
                            <tr>
                                <td>{{ data.problemName }}</td>
                                <td>{%- if isChallenge %} {{ data.championNickName }} {%- else %} {{ data.challengerNickName }} {% endif -%}</td>
                                <td>{%- if data.result == 'win' or data.result == 'lose' or data.result == 'draw' %}
                                    <a type="button" class="btn btn-sm btn-success" href="{{ url_for('codeMarble_Web.playResult', dataOfMatchIndex=data.dataOfMatchIndex) }}">리플레이</a>
                                    {% endif -%}
                                </td>
                                <td>{%- if isChallenge %} {{ data.result }} {%- else %} {%- if data.result == 'win' %} lose {%- elif data.result == 'lose' %} win {%- else %} {{ data.result }} {% endif -%} {% endif -%}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

                <br><br><br><br><br><br><br>
        </div>
        <!-- /.container-fluid -->

    </div>
{% endblock -%}
