{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div id="subNav">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">문제가가가가가</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/problem/submit">코드 제출</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/problem/solvingUsers"><strong>이 문제를 푼 사람</strong></a>
        </div>
        <br><br>
        <img src="../static/img/test.jpg" style="width:550px; display: block; margin-left: auto; margin-right: auto;">
        <br>

        <div style="width:330px;  margin: auto;">
            <span id="div1" onclick="display3_1()">
                <input type="button" class="btn btn btn-danger" value="수동재생으로 바꾸기" onclick="document.getElementById('vd').pause(); document.getElementById('vd').hidden = true;"/>
            <!--
                <button type="button" class="btn btn btn-warning" onclick="changeGameBoard(1, {{ positionDatas|length }} -1)">자동재생</button>
            -->
            </span>

            <span id="div3" style="display: none;" onclick="display1_1()">
                <input type="button" class="btn btn btn-success" value="자동재생으로 바꾸기"/>
            </span>

            <span id="div2" style="display: none;">
                <input type="button" class="btn btn btn-warning" value="이전"/>
                <input type="button" class="btn btn btn-warning" value="다음"/>
            </span>
        </div>


    <script>
      function display1_1()
      {
        div1.style.display="";
        div3.style.display="none";
        div2.style.display="none";
      }
      function display3_1()
      {
        div2.style.display="";
        div1.style.display="none";
        div3.style.display="";
      }
    </script>



        <!--
            <button type="button" class="btn btn btn-success" onclick="changeGameBoard(-1, {{ positionDatas|length }} -1)">이전</button>
            <button type="button" class="btn btn btn-success" onclick="changeGameBoard(1, {{ positionDatas|length }} -1)">다음</button>
        -->
        </span>

<br><br><br>
        <!-- /.container-fluid -->

    </div>
{% endblock -%}
