{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div class="mymargin">
            <br>
            <h3>회원정보</h3><br>
            <label><strong>아이디</strong></label>
            <input class="setting-form" disabled="disabled" placeholder="jieeeun">
            <br><br>

            <label><strong>닉네임</strong></label>
            <input class="setting-form" placeholder="지은">
            <br><br>

            <label><strong>한마디</strong></label>
            <input class="setting-form" placeholder="한마디를 입력해주세요.">
            <br><br>

            <label><strong>코드 공개여부 </strong></label> &nbsp;
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>공개 &nbsp;
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">비공개       
            <br><br><br><br>

            <label><strong>주언어 설정</strong></label>
            <select class="form-control" style="width: 350px;">
                <option>C</option>
                <option>C++</option>
                <option>Python</option>
            </select>
            <br>
            <label><strong>에디터 테마 설정</strong></label>
            <select class="form-control" style="width: 350px;">
                <option>테마1</option>
                <option>테마2</option>
                <option>테마3</option>
            </select>

            <br><br><br>
            <button type="submit" class="btn btn-default">설정저장</button>
        </div>
        <!-- /.container-fluid -->

<br><br><br><br><br><br>
    </div>
    <!-- /.content-wrapper -->
{% endblock -%}