{%- extends "main.html" -%}
{%- block body %}

<script>

    function checkId() {
        if(signup_form.idCheckBtn.value == '변경') {
            $("#userId").attr('readonly', false);
            $("#idCheckBtn").attr('value', '중복확인');
        }

        else if(signup_form.userId.value == '')
            alert('아이디를 입력하세요.') ;

        else {
            $.ajax({
                type : "POST",
                url : "/idCheck",
                data : {'id': signup_form.userId.value},
                dataType : "text",
                success : function(data){
                    if(data == 'P'){
                        $("#userId").attr('readonly', true);
                        $("#idCheckBtn").attr('value', '변경');
                    }
                    else
                        alert('이미 존재하는 아이디입니다.') ;
                }
            });
        }
    };

    function checkNick() {
        if(signup_form.nickCheckBtn.value == '변경') {
            $("#nickName").attr('readonly', false);
            $("#nickCheckBtn").attr('value', '중복확인');
        }

        else if(signup_form.nickName.value == '')
            alert('닉네임을 입력하세요.') ;

        else {
            $.ajax({
                type : "POST",
                url : "/nickCheck",
                data : {'nick': signup_form.nickName.value},
                dataType : "text",
                success : function(data){
                    if(data == 'P'){
                        $("#nickName").attr('readonly', true);
                        $("#nickCheckBtn").attr('value', '변경');
                    }
                    else
                        alert('이미 존재하는 아이디입니다.') ;
                }
            });
        }
    };

    function checkPassword() {
        if(signup_form.password.value == signup_form.passwordCheck.value){
            if(signup_form.password.value.length < 5) {
                alert('패스워드가 규칙에 맞지 않습니다.');
                setting_form.password.onfocus();
            }
            else {
                if(signup_form.idCheckBtn.value == '중복확인' || signup_form.nickCheckBtn.value == '중복확인')
                    alert('아이디와 닉네임 중복 확인을 먼저하세요.')
                else {
                    $("#signup_form").attr('action', '/signup')
                    document.signup_form.submit();
                }
            }
        }

        else {
            alert('패스워드가 일치하지 않습니다.');
            setting_form.password.onfocus();
        }
    }

</script>

<div class="content-wrapper py-3">
    <form id="signup_form" name="signup_form" style="margin-left: 25px" method="post">
        <h3><strong>회원가입</strong></h3><h10>(*)는 필수입력 사항입니다.</h10><br><br><br>
        <div>
        <label><strong>아 이 디 (*)</strong></label>
        <input id="userId" name="userId" class="setting-form">
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="idCheckBtn" name="idCheckBtn" class="btn btn-info" onclick="checkId()" value="중복확인">
        <br><br>
        </div>

        <label><strong>닉 네 임 (*)</strong></label>
        <input id="nickName" name="nickName" class="setting-form">
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="nickCheckBtn" name="nickCheckBtn" class="btn btn-info" onclick="checkNick()" value="중복확인">
        <br><br>

        <label><strong>비밀번호 (*)</strong></label>
        <input id="password" name="password" class="setting-form" type="password" placeholder="5자 이상">
        <br><br>

        <label><strong>비밀번호 확인 (*)</strong></label>
        <input id="passwordCheck" class="setting-form" type="password">
        <br><br>

        <label><strong>이메일</strong></label>
        <input id="eMail" name="eMail" class="setting-form">
        <br><br>
        <input type="button" class="btn btn-success" onclick="checkPassword()" value="가입하기">
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- /.container-fluid -->

{% endblock -%}