{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div id="subNav">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="../problem">문제가가가가가</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="../problem/solvingUsers"><strong>이 문제를 푼 사람</strong></a>
        </div>

            <!-- Example Tables Card -->
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>순위</th>
                                    <th>닉네임</th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>황석진</td>
                                    <td>
                                    <span id="div1" onclick="display3_1()">
                                        <input type="button" class="btn btn-sm btn-primary" value="대전하기" onclick="document.getElementById('vd').pause(); document.getElementById('vd').hidden = true;"/>
                                    </span>

                                    <span id="div3" style="display: none;">
                                        <input type="button" class="btn btn-sm btn-warning" disabled="disabled" value="대전중...!"/>
                                    </span>
                                    </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>류동기</td>
                                    <td><button type="button" class="btn btn-sm btn-warning">대전중...!</button></td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>남규현</td>
                                    <td><button type="button" disabled="disabled" class="btn btn-sm btn-default">대전완료</button></td>
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="location.href='../template/replay.html'">리플레이</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <!-- /.container-fluid -->

    </div>
{% endblock -%}