{%- extends "main.html" -%}
{%- block body %}

    <div class="content-wrapper py-3">

        <div id="subNav">

            <a href="/gagagaga">문제가가가가가</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/problem/submit"><strong>코드 제출</strong></a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;     
            <a href="/submitlist">이 문제를 푼 사람</a>
        </div>

        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;제출
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->
{% endblock -%}
